
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 20px 0;
    padding: 0;
    font-family: arial, sans-serif;
    overflow: scroll;
    background-color: #272727;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #f58551;
}

button {
    background-color: #16cc9b;
    border: 2px solid #16cc9b;
    color: #ffffff;
    transition: all 0.25s linear;
    cursor: pointer;
}

button::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
}

button:hover {
    background-color: #f58551;
    border-color: #f58551;
}

button:hover::after {
    right: -5px;
}

button:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

input {
    transition: all 0.25s linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input {
    outline: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

/* Header */
header {
    height: 150px;
}

header.container {
    margin-bottom: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    list-style: none;
    align-self: center;
}

nav ul li img {
    width: 140px;
    height: 70px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: block;
    font-family: "Lora", serif;
    font-size: 20px;
}

nav ul li a:hover {
    color: #FFD447;
}

#utilisateur {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD447;
    border-radius: 75px 50px 75px 50px;
    width: 100px;
    height: 50px;
    margin-left: -40px;
}

#utilisateur a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #272727;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    font-family: "Lora", serif;
    padding: 40px 0;
}

#footer-Top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h4 {
    color: #FFD447;
    margin-bottom: 20px;
}

.footer-section p {
    line-height: 1.5;
    margin-bottom: 50px;
}

#logo-footer {
    width: 150px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

#logo-reseaux {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#footer-bottom {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

#footer-bottom hr {
    border: none;
    height: 1px;
    background-color: #FFD447;
    margin: 10px auto;
    width: 80%;
}

#footer-bottom p {
    margin-top: 25px;
    font-size: 16px;
    font-style: italic;
}

/* Product List */
.products {
    border-top: 1px solid #ddd;
}

.products > li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.row {
    position: relative;
    overflow: auto;
    width: 100%;
}

.col,
.quantity,
.remove {
    float: left;
}

.col.left {
    width: 70%;
}

.col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
}

.detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
}

.detail .name {
    font-size: 1.2rem;
}

.detail .description {
    color: #7d7d7d;
    font-size: 1rem;
}

.detail .price {
    font-size: 1.5rem;
}

.quantity,
.remove {
    width: 50%;
    text-align: center;
}

.remove svg {
    width: 60px;
    height: 60px;
}

.quantity > input {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity > input:hover,
.quantity > input:focus {
    border-color: #f58551;
}

.close {
    fill: #7d7d7d;
    transition: color 150ms linear, background-color 150ms linear,
        fill 150ms linear, 150ms opacity linear;
    cursor: pointer;
}

.close:hover {
    fill: #f58551;
}

/* Summary */
.promotion,
.summary,
.checkout {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
}

.promotion > label {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
}

.promotion > input {
    float: left;
    width: 80%;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 1.8rem;
    border: 2px solid #16cc9b;
    border-radius: 2rem 0 0 2rem;
}

.promotion:hover > input {
    border-color: #f58551;
}

.promotion > button {
    float: left;
    width: 20%;
    height: 2.4rem;
    border-radius: 0 2rem 2rem 0;
}

.promotion:hover > button {
    border-color: #f58551;
    background-color: #f58551;
}

.promotion > button::after {
    content: "\276f";
    font-size: 1rem;
}

.summary {
    font-size: 1.2rem;
    text-align: right;
}

.summary ul li {
    padding: 0.5rem 0;
}

.summary ul li span {
    display: inline-block;
    width: 30%;
}

.summary ul li.total {
    font-weight: bold;
}

.checkout {
    text-align: right;
}

.checkout > button {
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1.5rem;
}

.empty-product {
    text-align: center;
}

.empty-product > button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
}

/* Small Screen */
@media all and (max-width: 599px) {
    .thumbnail img {
        display: none;
    }

    .quantity > input {
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
    }

    .remove svg {
        width: 40px;
        height: 40px;
    }

    header {
        height: 200px;
    }

    nav ul li img {
        width: 80px;
        height: 60px;
    }

    nav ul li a {
        gap: 5px;
        font-size: 13px;
        font-style: bold;
    }

    #utilisateur {
        margin-left: 10px;
        width: 40px;
        height: 40px;
    }
}

/* Medium & Large Screen */
@media all and (min-width: 600px) {
    html {
        font-size: 14px;
    }

    .container {
        width: 75%;
        max-width: 960px;
    }

    .thumbnail,
    .detail {
        float: left;
    }

    .thumbnail {
        width: 35%;
    }

    .detail {
        width: 65%;
    }

    .promotion,
    .summary {
        width: 50%;
    }

    .checkout {
        width: 100%;
    }

    .checkout,
    .summary {
        text-align: right;
    }
}

/* Large Screen */
@media all and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}
